<app-navigation></app-navigation>

<div class="card my-5">
  <div class="card-body">
    <h4 class="card-header">Article Details</h4>
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">Status</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>{{ article.title }}</td>
        <td>{{ article.description }}</td>
        <td>{{ article.articleStatus }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
